.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

nav{
  background-color: #5d4adc;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

nav > label {
  font-weight: bold;
  color: rgb(255 255 255);
  align-self: center;
}

nav > form {
  display: flex;
  column-gap: 0.3em;
  align-items: center;

}

nav input {
  border-radius: 6px;
  border: none;
  padding: 0.3em;
}

nav  button{
  border: solid 0.5px;
  font-size: 0.75em;
}

ul{
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-top: 1em;
}

li{
  border: 1px solid gray;
  padding: 0.5em;
  border-radius: 12px;
  display: flex;
  /*justify-content: space-between;
  column-gap: 0.3em; */
  flex-direction: column;
  row-gap: 0.3em;
}



p{
  margin: 0;
  text-align: left;
  width: 100%;
  word-break: break-word;
}

.div-btn{
  display: flex;
  flex-direction: row;
  /* row-gap: 0.3em;
  justify-content: space-around; */
  justify-content: center;
  column-gap: 0.3em;

}

.div-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea{
  /* width: 100%; */
  font-family: sans-serif;
}

.nueva-nota > *{
 cursor: pointer;
 transition: color ease-in 200ms;
}
.nueva-nota > *:hover{
 color: #5d4adc;
}

svg{
  cursor: pointer;
  transition: fill ease-in 200ms;
}

svg:hover{
  fill: #5d4adc;
}

button{
  border: none;
  background-color: #5d4adc;
  color: rgb(255 255 255);
  padding: 0.5em;
  border-radius: 1.3em;
  cursor: pointer;
  transition: background-color ease-out 500ms;
}

button:hover{
  background-color: hsl(248deg 68% 38%);
  color:  rgb(255 255 255);
}